extends ../layouts/default

block intro
	.container
		.row
			.col-md-6
				h3#title WELCOME TO TA SHOP. #{showcat}
			.col-md-6.input-group#custom-search-input
				input.form-control.input-lg#search_input(type="text", placeholder="Search")
				span.input-group-btn: button.btn.btn-info.btn-lg.glyphicon.glyphicon-search#search_button
		.dropdown.btn-group
			button.btn.btn-default.dropdown-toggle#menu1(data-toggle="dropdown") Danh mục:
				span.caret
			ul.dropdown-menu(role="menu", aria-labelledby="menu1")
				li(role="presentation"): a(role="menuitem", tabindex="-1", href="gallery?cat=dientu") Điện Tử
				li(role="presentation"): a(role="menuitem", tabindex="-1", href="gallery?cat=phukien") Phụ kiện
				li(role="presentation"): a(role="menuitem", tabindex="-1", href="gallery?cat=thoitrang") Thời Trang
				li.divider(role="presentation")
				li(role="presentation"): a(role="menuitem", tabindex="-1", href="gallery?cat=tatca") Tất cả
		.dropdown.btn-group
			button.btn.btn-default.dropdown-toggle#menu2(data-toggle="dropdown") Sắp xếp:
				span.caret
			ul.dropdown-menu(role="menu", aria-labelledby="menu2")
				li(role="presentation"): a(role="menuitem", tabindex="-1", href="gallery?sort=-views") Độ phổ biến
				li(role="presentation"): a(role="menuitem", tabindex="-1", href="gallery?sort=price") Giá từ thấp tới cao
				li(role="presentation"): a(role="menuitem", tabindex="-1", href="gallery?sort=-price") Giá từ cao xuống thấp
				
block content
	.container.row
		if galleries.results.length
			each gallery in galleries.results
				.col-sm-3(data-toggle="tooltip" data-placement="in" title=gallery.name)
					button(onclick=`window.location.href='show?id='+${JSON.stringify(gallery.name)}`)
						img(id=gallery.name src=gallery._.heroImage.scale(300,300)).img-rounded
						.itemTitle= gallery.name
						- var truePrice = gallery.price - gallery.price*gallery.sale/100;
						.itemSalePrice #{truePrice} đ
						if gallery.sale != 0
							.itemPrice #{gallery.price} đ
							.itemSale &nbsp&nbsp-#{gallery.sale}%
						else
							.itemSale &nbsp  
						button(onclick=`$("#`+gallery.name+`").attr("src","`+gallery._.heroImage.scale(300,300)+`")`)
							img(src=gallery._.heroImage.thumbnail(40,40)).img-rounded
					each image in gallery.images
						button(onclick=`$("#`+gallery.name+`").attr("src","`+image.scale(300,300)+`")`)
							img(src=image.thumbnail(40,40)).img-rounded
			if galleries.totalPages > 1
				ul.pagination
					if galleries.previous
						li: a(href='?page=' + galleries.previous): span.glyphicon.glyphicon-chevron-left
					else
						li.disabled: span.glyphicon.glyphicon-chevron-left
					each p, i in galleries.pages
						li(class=galleries.currentPage === p ? 'active' : null)
							a(href='?page=' + (p === '...' ? (i ? galleries.totalPages : 1) : p ))= p
					if galleries.next
						li: a(href='?page=' + galleries.next): span.glyphicon.glyphicon-chevron-right
					else
						li.disabled: span.glyphicon.glyphicon-chevron-right
		else
			h3.text-muted Không có sản phẩm cần tìm!!!
			
block js
	script.
		$( document ).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
			$("#search_button").click(function() {
				if ($("#search_input").val() !== "") {
					document.location.href = "gallery?cat="+$("#search_input").val();
				}
			});
			$("#search_input").keyup(function(event) {
				if (event.keyCode === 13) {
					$("#search_button").click();
				}
			});
		});